<a href="https://colab.research.google.com/github/TheLordSaurabh/Digit-Recognizer/blob/main/Digit_Recognizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



---


***Digit-Recognizer Project (Deep Learning Model)***

***Saurabh Gupta***



---

**Importing all the necessary Modules and Libraries for our Model/Project**

In [32]:
#Importing all the necessary Modules and Libraries for our Model/Project
import pandas as pd
import numpy as np

import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from sklearn.model_selection import train_test_split

In [33]:
np.random.seed(1212)

In [34]:

#The Dataset

#The Data Set used here is taken from Internet for Educational & Demonstration purpose only. The author of this project doesn't claim the ownership of this dataset. The complete ownership of this dataset belongs to the organisation which created this dataset.
#Dataset taken from : (https://www.kaggle.com/code/ngbolin/mnist-dataset-digit-recognizer/input)

#Let's load the dataset to a Pandas DataFrame

# Load the training dataset

df_train = pd.read_csv('/content/drive/MyDrive/Projects/Machine-Learning/Personal-Projects/Digit-Recognizer/Data/digit_recognizer_train_data.csv')
df_test = pd.read_csv('/content/drive/MyDrive/Projects/Machine-Learning/Personal-Projects/Digit-Recognizer/Data/digit_recognizer_test_data.csv')

In [35]:
df_train

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41996,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41997,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41999,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
df_test

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
df_train.head() # 784 features (pixels), 1 label

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
df_test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
#For training purpose
df_features = df_train.iloc[:, 1:785]
df_label = df_train.iloc[:, 0]

#For Testing/Prediction
X_test = df_test.iloc[:, 0:784]

print(X_test.shape)

(28000, 784)

In [40]:
X_train, X_cv, y_train, y_cv = train_test_split(df_features, df_label, test_size = 0.2,random_state = 1212)

X_train = X_train.values.reshape(33600,784)

X_cv = X_cv.values.reshape(8400,784)

X_test = X_test.values.reshape(28000, 784)

In [41]:
print((min(X_train[1]), max(X_train[1])))

(0, 255)

In [42]:
# Feature Normalization 
X_train = X_train.astype('float32'); X_cv= X_cv.astype('float32'); X_test = X_test.astype('float32')
X_train /= 255; X_cv /= 255; X_test /= 255

# Convert labels to One Hot Encoded
num_digits = 10
y_train = keras.utils.to_categorical(y_train, num_digits)
y_cv = keras.utils.to_categorical(y_cv, num_digits)

In [43]:
# Printing 2 examples of labels after conversion
print(y_train[0]) # 2
print(y_train[3]) # 7

[0. 0. 1. 0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]

**Model Fitting**

In [44]:
# Input Parameters
n_input = 784 # number of features
n_hidden_1 = 300
n_hidden_2 = 100
n_hidden_3 = 100
n_hidden_4 = 200
num_digits = 10

In [45]:
# Insert Hyperparameters
learning_rate = 0.1
training_epochs = 20
batch_size = 100

In [46]:
Inp = Input(shape=(784,))
x = Dense(n_hidden_1, activation='relu', name = "Hidden_Layer_1")(Inp)
x = Dropout(0.3)(x)
x = Dense(n_hidden_2, activation='relu', name = "Hidden_Layer_2")(x)
x = Dropout(0.3)(x)
x = Dense(n_hidden_3, activation='relu', name = "Hidden_Layer_3")(x)
x = Dropout(0.3)(x)
x = Dense(n_hidden_4, activation='relu', name = "Hidden_Layer_4")(x)
output = Dense(num_digits, activation='softmax', name = "Output_Layer")(x)

In [47]:
# Our model would have '6' layers - input layer, 4 hidden layer and 1 output layer
model4 = Model(Inp, output)
model4.summary() # We have 297,910 parameters to estimate

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 784)]             0

 Hidden_Layer_1 (Dense)      (None, 300)               235500

 dropout (Dropout)           (None, 300)               0

 Hidden_Layer_2 (Dense)      (None, 100)               30100

 dropout_1 (Dropout)         (None, 100)               0

 Hidden_Layer_3 (Dense)      (None, 100)               10100

 dropout_2 (Dropout)         (None, 100)               0

 Hidden_Layer_4 (Dense)      (None, 200)               20200

 Output_Layer (Dense)        (None, 10)                2010

=================================================================
Total params: 297,910
Trainable params: 297,910
Non-trainable params: 0
_________________________________________________________________

In [48]:
model4.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [49]:
history = model4.fit(X_train, y_train,batch_size = batch_size,epochs = training_epochs,validation_data=(X_cv, y_cv))

Epoch 1/20
336/336 [==============================] - 6s 13ms/step - loss: 0.5895 - accuracy: 0.8120 - val_loss: 0.2008 - val_accuracy: 0.9396
Epoch 2/20
336/336 [==============================] - 7s 20ms/step - loss: 0.2327 - accuracy: 0.9332 - val_loss: 0.1440 - val_accuracy: 0.9596
Epoch 3/20
336/336 [==============================] - 4s 13ms/step - loss: 0.1729 - accuracy: 0.9496 - val_loss: 0.1139 - val_accuracy: 0.9682
Epoch 4/20
336/336 [==============================] - 5s 14ms/step - loss: 0.1424 - accuracy: 0.9596 - val_loss: 0.1077 - val_accuracy: 0.9690
Epoch 5/20
336/336 [==============================] - 4s 13ms/step - loss: 0.1266 - accuracy: 0.9634 - val_loss: 0.1040 - val_accuracy: 0.9710
Epoch 6/20
336/336 [==============================] - 4s 12ms/step - loss: 0.1094 - accuracy: 0.9684 - val_loss: 0.1102 - val_accuracy: 0.9706
Epoch 7/20
336/336 [==============================] - 4s 11ms/step - loss: 0.0960 - accuracy: 0.9709 - val_loss: 0.0986 - val_accuracy: 0.9729
Epoch 8/20
336/336 [==============================] - 6s 17ms/step - loss: 0.0878 - accuracy: 0.9741 - val_loss: 0.0943 - val_accuracy: 0.9758
Epoch 9/20
336/336 [==============================] - 3s 10ms/step - loss: 0.0798 - accuracy: 0.9768 - val_loss: 0.0943 - val_accuracy: 0.9752
Epoch 10/20
336/336 [==============================] - 4s 12ms/step - loss: 0.0777 - accuracy: 0.9771 - val_loss: 0.0864 - val_accuracy: 0.9767
Epoch 11/20
336/336 [==============================] - 5s 15ms/step - loss: 0.0668 - accuracy: 0.9795 - val_loss: 0.0887 - val_accuracy: 0.9767
Epoch 12/20
336/336 [==============================] - 4s 12ms/step - loss: 0.0658 - accuracy: 0.9800 - val_loss: 0.1001 - val_accuracy: 0.9746
Epoch 13/20
336/336 [==============================] - 3s 10ms/step - loss: 0.0590 - accuracy: 0.9816 - val_loss: 0.0877 - val_accuracy: 0.9777
Epoch 14/20
336/336 [==============================] - 4s 12ms/step - loss: 0.0571 - accuracy: 0.9830 - val_loss: 0.0908 - val_accuracy: 0.9781
Epoch 15/20
336/336 [==============================] - 5s 16ms/step - loss: 0.0537 - accuracy: 0.9837 - val_loss: 0.0883 - val_accuracy: 0.9789
Epoch 16/20
336/336 [==============================] - 4s 11ms/step - loss: 0.0526 - accuracy: 0.9838 - val_loss: 0.0958 - val_accuracy: 0.9770
Epoch 17/20
336/336 [==============================] - 4s 13ms/step - loss: 0.0477 - accuracy: 0.9858 - val_loss: 0.0886 - val_accuracy: 0.9790
Epoch 18/20
336/336 [==============================] - 6s 17ms/step - loss: 0.0452 - accuracy: 0.9862 - val_loss: 0.0991 - val_accuracy: 0.9762
Epoch 19/20
336/336 [==============================] - 4s 13ms/step - loss: 0.0482 - accuracy: 0.9857 - val_loss: 0.0940 - val_accuracy: 0.9780
Epoch 20/20
336/336 [==============================] - 4s 11ms/step - loss: 0.0421 - accuracy: 0.9872 - val_loss: 0.0872 - val_accuracy: 0.9790

In [50]:
test_pred = pd.DataFrame(model4.predict(X_test, batch_size=200))
test_pred = pd.DataFrame(test_pred.idxmax(axis = 1))
test_pred.index.name = 'ImageId'
test_pred = test_pred.rename(columns = {0: 'Label'}).reset_index()
test_pred['ImageId'] = test_pred['ImageId'] + 1

test_pred.head()

140/140 [==============================] - 1s 5ms/step

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3